.title {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.form {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  input {
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 25px;
    border: 1px solid #8512cd;
    font-family: 'Lexend', sans-serif;
    transition: 0.4s;
    &:focus {
      transition: 0.4s;
      transform: scale(1.1);
      outline: #8512cd;
      margin-right: 15px;
    }
  }
  button {
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      transition: 0.4s;
      transform: scale(1.2);
      margin-left: 5px;
    }
  }
}
